{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "linebreak-style": ["error", "windows"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "no-multi-spaces": "off",
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "no-unused-expressions": "off",
    "no-console": "off",
    "max-len": "off"
  }
}
